.todo-app{
    margin: 2rem auto 0 auto;
    max-width: 400px;
    padding: 10px;
}

.top-panel{
    margin: 1rem 0;
}

.black *,
.black input:active,
.black input:focus,
.black input:hover{
    background-color: rgb(46 46 46 / 85%);;
    color: white !important;
    
}

