.app-header {
    flex-direction: column;
    align-items: flex-start;
}

.app-header h1 {
    flex-grow: 1;
}

.app-header h2 {
    font-size: 1.2rem;
    color: grey;
}

.app-header__icon{
    margin-left: 10px;
}

.app-header__icon:hover{
    color: pink;
}